


.content{
    display: flex;
    margin-top:30px;
    justify-content: center;
    flex-wrap: wrap;
    gap:25px;
}
.card-body h5{
    font-size: 25px;
    font-weight: bold;
}
.text{
    font-size: 18px;
}
.text-sel{
    display: none;
}
.text-hover{
    display: block;
    position:absolute;
    top:135;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 39px;
    color:orange;
    font-weight: bold;
}
.bouton{
    width:50%;
    margin-left: 50px;
    color:orange;
}

